includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - ./vendor/phpstan/phpstan-mockery/extension.neon
parameters:
    level: 8
    paths:
        - app
        - modules
    scanFiles:
        - _ide_helper.php
        - _ide_helper_models.php
        - .phpstorm.meta.php
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
        - '#Call to an undefined static method Illuminate\\Support\\Facades\\Event::fake\(\).#'
        - '#Call to an undefined static method Illuminate\\Support\\Facades\\Queue::fake\(\).#'
